
.container {
    margin: 0 auto;
    border: 1px solid grey;    
}

body {
  font-family:Arial, Helvetica, sans-serif;
  color:#777777;
  width: 99%;
  margin: 0 auto;
  background-image: "\assets\images\bg.png";
  background-repeat: repeat;
}

.box {
  float: left;
}

header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #ffffff;
}

#header1 {
  background-color:#4aaaa5;
  color:white;
  margin-left:20%;
  padding: 0px 20px 0px 20px;
}

#header2{
  background-color: white;
  color:teal;
  width:100%;
}

#navbox {
  border-color:#cccccc;
}

#navi {
  padding-top:25px;   
  margin-right:20%;
  float:right;
  font-size: 16px;
  text-align: right;
}

a:link {
  text-decoration: none;
  color:#777777;
}

a:visited {
  color:#141414;
}

a:hover {
  color:#4aaaa5;
  font-size: 18px;
  font-weight: bold;
}

main{
  background-color: darkgray;
}

#bulk{
  margin-left:20%;
  margin-bottom:25px;
}

#aboutmebox {
  width:75%;
  clear:right;  
  border: 1px solid grey; 
  background-color: white;
  margin-top:50px;
  padding: 15px;      
}

#bio-image {
  width: 225px;
  height: 225px;
  padding: 15px;
}

#bar{
  background: teal;
  border-color: black;
  border-style: solid;
  border-width: 0px 1px 0px 1px;
  width:100%;
  height:5px;
  position:relative;
}

#footer{
  width:100%;
  height:35px;
  clear:left;
  background-color:#666666;
  color:darkgrey;
  font-size:12px;
  border: 1px solid gray;
  text-align: center;
  position:relative;
}